*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    background-color: #F5F5F1;
    max-width: 1440px;
    padding: 50px;
}
.container {
    background-color: #F5F5F1;

}
.header {
    text-align: center;
}
p{ 
    font-size: 0.6rem;
}
.title h2{
    font-size: 1rem;
    color: #3A3A3A;
    text-transform: uppercase;
}
.row {
  padding: 10px;
  margin: auto;
}